<div class="side_bar_header">
  <div class="user_name">
    <%= link_to "#{current_user.name}", edit_user_path(:id), method: :get %>
    <%# <a href="#" title="ユーザー情報編集">Tom</a> %>
  </div>
  <div class="create_room">
    <a href="#" title="チャットルーム作成">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <a href="#">Sample1</a>
  </div>
  <div class="room">
    <a href="#">Sample2</a>
  </div>
</div>